/* 
    Document   : styles
    Created on : May 7, 2015, 4:01:15 PM
    Author     : linttd
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
body {
    background-color: #83defe;
    font-family:  Arial, Helvetica, sans-serif;
    background-attachment:fixed;
}
.Frame {
    width: 1055px;
    margin: auto;
/*    background: #fff;*/
    clear: both;
}
.banner{
    width: 1055px;
    margin-top: 0px;
    background: #fcfcfc;
}
.logo {
    background-image: url('../images/logo.png');
    float: left;
}
.logo-right {
    background-image: url('../images/banner.png');
    float: right;
/*    border: 1px solid red;*/
}
.clear {
    clear: both;
}

/*Css menu*/
.menu{
    width: 900px;
    height: 50px;
    /*    border: 1px solid aqua;*/
    padding-left: 50px;
    padding-right: 50px;
    background: #363636;
    margin-top: 0px;
    z-index: 999;
    border-radius: 8px;
}
ul {
    list-style-type: none;
}
.menu > li {
    float: left;
    height: 50px;
    padding-top: 20px;
}
/* Style cho thẻ a */
.menu > li > a {
    text-decoration: none;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;
}
.menu > li:hover {
    background: #64cf00;
    box-shadow: 0px 0px 10px #090;
    border-radius: 3px;
    height: 40px;
    margin-top: -5px;
}

/*CSS Main content*/
.mainContent {
    width: 100%;
    background: rgba(255, 255, 255, 0.4); 
    clear: both;
     margin-top: -10px;
}
.slide {
    background: rgba(255, 255, 255, 0.4); 
    width: 100%;
    background-image: url('../images/catalogeBanner.png');
    margin-top: -10px;
    padding-left: -15px;
}

.content {
    background: #fff;
    width: 99%;
    border-radius: 7px;
    margin-left: 5px;
}
.title {
    width: 100%;
    background: #a0de4f;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    border-radius: 7px;
}
.title > a {
  color: #d80305;
  font-size: 22px;
  text-transform: uppercase;
  background: url('../images/cow_sell_top.png') no-repeat 5px 0;
  height: 38px;
  padding-top: -52px;
  font-weight: bold;
}

/* list image trong content */
.listImage{
    width: 100%;
    display: inline-block;
    margin-left: -38px;
}
.listImage > li {
    display: inline-block;
    width: 250px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    text-align: center;
    padding: 2px;
    border: 1px solid #83defe;
}
.listImage > li> img {
    padding-left: 30px;
    alignment-adjust: central;
}
span{
    font-size: 14px;
    color: #FF0000;
    font-weight: bold;
}
.listImage > li >a {
    text-decoration: none;
    color: #333333;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px;
    position: relative;
    text-align: center;
    font-weight: bold;
}
.listImage > li >a:hover {
    font-weight: bold;
    color: #FF0000;
    font-size: 13px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}
.listImage >li>img:hover{
    color: #fff;
    opacity: 0.7;
}
/*footer*/
.footer {
    width: 100%;
    height: 190px;
    background-image: url('../images/bg_footer.png');
    background-repeat: no-repeat;
}
.menu_footer {
    height: 50px;
    width: 100%;
}
.menu_footer > li {
    display: inline-block;
    width: 100px;
    text-align: center;
}
.menu_social {
    height: 50px;
    width: 100%;
    margin-top: -20px;
}
.menu_social > li {
    display: inline-block;
    width: 50px;
    text-align: center;
}
.footer > a {
    font-size: 18px;
    font-weight: bold;
}

.footer > p {
    font-weight: bold;
    font-size: 17px;
    text-align: center;
}
.button {
  display: block;
  width: 115px;
  height: 25px;
  background: #4E9CAF;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}
